*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
  }
body{
    width: 100%;
    min-height: 100vh;
    background: rgb(255,234,254);
    color: rgba(10, 10, 40,1);
    background: linear-gradient(150deg, rgba(204,193,255,1) 30%, rgba(172,125,136,1) 90%);
    position:relative;
}
img{
    width: 100px;
    max-width: 100%;
    height: auto;
}
h1,h2,p{
    text-align: center;
    line-height: 150%;
}
h1{
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    padding: 4.2rem .5rem 2rem;
}
h2,
p,
.reset_btn{
    font-family:'Rubik', sans-serif;
    margin-bottom: 1.6rem;
}
p{
    font-size: 2rem;

}
h2{
    font-size: 4rem;
}
.player_score,
.cmptr_score{
    font-size: 6rem;
}
.btn_container{
    width: 45%;
    height:200px;
    margin: auto;
    display: flex;
    gap:1rem;
    justify-content: space-between;
    align-items:center;
}
.btn{
    border-radius: 50%;
    background: rgba(137, 1, 137, 0.713);
    padding: .6rem; 
}
.btn:disabled,
.btn:disabled:hover{
    background: rgba(137, 1, 137, 0.4);
    transform: scale(1);
}
.btn,
.reset_btn{
    border:none; 
}
.rnd_winner,
.game_winner,
.reset_btn{
    font-weight: 600;
}
.game_reset{
    /* width: 100%; */
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.reset_btn{
    font-size: 2rem;
    padding:1.5rem 1.5rem;
    background: rgba(35, 37, 134,1);
    border-radius: 12px;
    color:rgba(239, 231, 231, 0.919);
    box-shadow: 3px 3px 15px 5px rgba(137, 1, 137, 0.5) ;
}
.btn:hover,
.reset_btn:hover{
    transform: scale(1.1);
    transition: transform .07s ease-in;
}
@media (max-width: 425px){
    h1{
        font-size:3 rem;
        padding: 5rem 2rem 3rem;
    }
    h2,
    p,
    .reset_btn{
        font-family:'Rubik', sans-serif;
        margin-bottom: 1.6rem;
    }
    h2{
        padding-top: 5rem;
        font-size: 3rem;
    }
    p{
        padding: 0 1rem;
    }
    .btn{
        padding: .25rem; 
    }
    .player_score,
    .cmptr_score{
        font-size: 4rem;
    }
.btn_container{
    width: 60%
}
}